
  bodys{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #F9F6FD;
  }
  .row{
    margin-bottom: 3vh;
  }
  .encabezado{
    background-color: #FF5500;
    background-image: url("Images/FondoPicada.jpeg");
    background-size: 100%;
    background-position-y: center;
  }
  .degradado{
    background-image: linear-gradient(to bottom, rgba(249, 246, 253, 0.007) 25%, rgba(249, 246, 253, 0.226) 50%, rgba(249, 246, 253, 0.472) 75%, rgb(249, 246, 253) 100%);
    padding: 2vh 0;
    width: 100%;
  }
  .encabezado img{
    width: 20vh;
    display: block;
    margin: auto;
    border-radius: 50%;
  }
  h1{
    color: black;
  }

  #showData .container, h1{
    background-color: transparent;
    padding: 0 3vh;
  }
  .container .row .col-xl-3{
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 2vh 0vh;
    margin: 10px 20px; /*1vh 2vh*/
    box-shadow:  5px 5px 10px #e3e3e3,
    -5px -5px 10px #ffffff;
  }
  .container .row{
    justify-content: center;
  }
  .col-4{
    display: flex;
   align-items: center;
   justify-content: center;
  }
  .col-4 .img{
    background-repeat: no-repeat;
    width: 85px;/*12vh*/
    border-radius: 20%;
    margin: 3vh 0;
  }
  .container .informacion{
    color: black;
    padding: 0 20px 0 20px; /*0 2vh 0 2vh*/
    position: relative;
  }
  .informacion h5, .informacion small, .informacion p{
    text-align: left;
  }
  .informacion h5{
    font-size: 19px; /*2.2vh*/
  }
  .informacion small{
    font-size: 10px; /*1.5vh*/
  }
  .informacion p{
    font-size: 15px; /*2vh*/
    position: absolute;
    top: 80%;
  }
  .desaparece{
    background-color: #ec230d;
    height: 100vh;
  }

/* search design*/

  form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ec230d;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 250px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #ec230d;
    color: white;
}


a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

form:valid a {
  display: block;
}

.tituloCategorias {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
  